## Q1. How do you comment code in Python? What are the different types of comments?

#### We can do comment code in python by using the hash character(#).

#### There are two different types of comments, they are:

#### 1. Single line comments---> In this we can use hash symbol(#) before the text or code, for eg:

In [1]:
# This is a single line comment

#### 2. Multi line comments--->By using triple quotes before and after the text or code and in later case if we want, we can also use as string , for eg:

In [5]:
"""This is a multi line comment"""

'This is a multi line comment'

## Q2. What are variables in Python? How do you declare and assign values to variables?

#### Variables are used to store and refer the values. It is a name that represents memory location where the data is stored and whenever we want we can easily extract the data by using variable name in which we have stored the data. We can assign value of different types like numbers, strings, lists, or objects, to variables.

#### To declare and assign the values to variables by simply using name  for variable and use the assignment operator(=) to assign the value. for eg:

In [6]:
name = "Ram"

In [7]:
name

'Ram'

## Q3. How do you convert one data type to another in Python?

In [8]:
x = 4
y = float(x) #Convert int to float

In [9]:
y

4.0

In [10]:
x = 4
b = str(x) # Convert int to string
b

'4'

## Q4. How do you write and execute a Python script from the command line?

#### 1. Open the text editor or IDE and write our Python code in it. For eg:
>>>print("Hello, World!")
#### 2. Save the file with .py extension after writing our code, for eg. script.py.
#### 3. Open a command prompt or terminal on our operating system. Go to the directory where we saved the Python script using the cd command for e.g., cd C:\path\to\script\directory.
#### 4. When we are in the directory, we can execute the Python script by running the python command followed by the name of our script file. For example:
>>>python script.py

## Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [11]:
my_list = [1, 2, 3, 4, 5]

In [12]:
my_list[1:3] #To slice the list

[2, 3]

## Q6. What is a complex number in mathematics, and how is it represented in Python?

#### A complex number always contain real and imaginary part in both mathematics as well as in python, In mathematics, it expressed as "4+6i", where a is real part, b is imaginary part and i is imaginary unit where as in python we expressed as "5+6j", where "j" must be denoted in lowercase.

In [25]:
x = 4 + 5j #complex number in python

In [26]:
type(x)

complex

## Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [14]:
age = 25

## Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [15]:
price = 9.99

In [16]:
type(price)#data type

float

## Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [17]:
name = "Nirmal Raj"

print(name)# print the value of this variable.

Nirmal Raj

## Q10. Given the string "Hello, World!", extract the substring "World".

In [18]:
str1 = "Hello, World!"

In [19]:
str1[7:12] #extracting the substring "World".

'World'

## Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [20]:
is_student = True